# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\spring-boot--cloud-project\Book-Mall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
